{
	"defaults": {
		"standard": "WCAG2AA",
		"chromeLaunchConfig": {
			"args": ["--no-sandbox"]
		},
		"timeout": 30000
	},
	"urls": [
		"{{base_url}}/",
		"{{base_url}}/wp-admin/",
		"{{base_url}}/wp-login.php"
	]
}
