<?php
/**
 * Tests for {{namespace}}\{{class}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 */

declare(strict_types=1);

namespace {{tests_namespace}};

use {{namespace}}\{{class}};
use WP_UnitTestCase;

/**
 * @covers \{{namespace}}\{{class}}
 */
final class {{class}}Test extends WP_UnitTestCase {

	public function test_slug_matches_manifest(): void {
		$this->assertSame( '{{slug}}', {{class}}::get_slug() );
	}

	public function test_capabilities_map_is_returned(): void {
		$this->assertIsArray( ( new {{class}}() )->get_capabilities() );
	}

	public function test_maybe_update_role_creates_role(): void {
		$instance = new {{class}}();
		$instance->maybe_update_role();
		$this->assertNotNull( get_role( '{{slug}}' ) );
		$instance->remove_role();
	}
}
