<?php
/**
 * {{name}}: hook-registering service.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 */

declare(strict_types=1);

namespace {{namespace}};

use rtCamp\WPFramework\Contracts\Interfaces\Registrable;

final class {{name}} implements Registrable {

	/**
	 * Register WordPress hooks. Called by the framework Loader during boot.
	 */
	public function register_hooks(): void {
		// add_action( '...', [ $this, '...' ] );
		// add_filter( '...', [ $this, '...' ] );
	}
}
