{
	"$schema": "https://schemas.wp.org/trunk/block.json",
	"apiVersion": 3,
	"name": "{{vendor}}/{{slug}}",
	"title": "{{title_json}}",
	"category": "widgets",
	"icon": "block-default",
	"description": "{{title_json}} block.",
	"keywords": ["{{slug}}"],
	"supports": {
		"html": false
	},
	"editorScript": "file:./index.js"
}
