<?php
/**
 * Cron job: {{name}} (hook: {{hook}}, schedule: {{schedule}}).
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 */

declare(strict_types=1);

namespace {{namespace}};

use rtCamp\WPFramework\Contracts\Interfaces\Registrable;

final class {{class}} implements Registrable {

	public const HOOK     = '{{hook}}';
	public const SCHEDULE = '{{schedule}}';

	/**
	 * Schedule the event (if not already scheduled) and bind the handler.
	 * Called by the framework Loader.
	 */
	public function register_hooks(): void {
		if ( ! wp_next_scheduled( self::HOOK ) ) {
			wp_schedule_event( time(), self::SCHEDULE, self::HOOK );
		}
		add_action( self::HOOK, [ $this, 'run' ] );
	}

	/**
	 * The job body. Called every time the hook fires.
	 */
	public function run(): void {
		// Replace with your job logic.
	}
}
