{
	"$schema": "https://schemas.wp.org/trunk/block.json",
	"apiVersion": 3,
	"name": "{{vendor}}/{{slug}}",
	"title": "{{title}}",
	"category": "widgets",
	"icon": "block-default",
	"description": "{{title}} block, made interactive with the Interactivity API.",
	"keywords": ["{{slug}}"],
	"textdomain": "{{vendor}}-{{slug}}",
	"supports": {
		"html": false,
		"interactivity": true
	},
	"editorScript": "file:./index.js",
	"render": "file:./render.php",
	"viewScriptModule": "file:./view.js"
}
