<?php
/**
 * Tests for {{namespace}}\{{name}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 */

declare(strict_types=1);

namespace {{tests_namespace}};

use {{namespace}}\{{name}};
use WP_UnitTestCase;

/**
 * @covers \{{namespace}}\{{name}}
 */
final class {{name}}Test extends WP_UnitTestCase {

	public function test_get_classes_returns_array(): void {
		$this->assertIsArray( ( new {{name}}() )->get_classes() );
	}

	public function test_each_listed_class_is_loadable(): void {
		foreach ( ( new {{name}}() )->get_classes() as $class ) {
			$this->assertTrue( class_exists( $class ), "Class {$class} should be loadable" );
		}
	}
}
