<?php
/**
 * {{class}}: hook-registering service.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 *
 * @package {{namespace}}
 */

declare(strict_types=1);

namespace {{namespace}};

use rtCamp\WPFramework\Contracts\Interfaces\Registrable;

/**
 * Registers this service's WordPress hooks through the framework Loader.
 */
final class {{class}} implements Registrable {

	/**
	 * Register WordPress hooks. Called by the framework Loader during boot.
	 *
	 * @return void
	 */
	public function register_hooks(): void {
		// Register actions and filters here, for example with add_action() or add_filter().
	}
}
