<?php
/**
 * Tests for {{namespace}}\{{class}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 */

declare(strict_types=1);

namespace {{tests_namespace}};

use {{namespace}}\{{class}};
use WP_UnitTestCase;

/**
 * @covers \{{namespace}}\{{class}}
 */
final class {{class}}Test extends WP_UnitTestCase {

	public function test_register_hooks_schedules_event(): void {
		( new {{class}}() )->register_hooks();
		$this->assertNotFalse( wp_next_scheduled( {{class}}::HOOK ) );
		wp_clear_scheduled_hook( {{class}}::HOOK );
	}

	public function test_register_hooks_binds_run_handler(): void {
		$instance = new {{class}}();
		$instance->register_hooks();
		$this->assertNotFalse( has_action( {{class}}::HOOK, [ $instance, 'run' ] ) );
		wp_clear_scheduled_hook( {{class}}::HOOK );
	}
}
