<?php
/**
 * Custom Post Type: {{slug}} ({{singular}} / {{plural}}).
 *
 * Scaffolded by @rtcamp/wp-tooling.
 */

declare(strict_types=1);

namespace {{namespace}};

use RtCamp\WPToolkit\Abstracts\Abstract_Post_Type;

/**
 * {{class}} post type.
 */
class {{class}} extends Abstract_Post_Type {

	/**
	 * Post type slug.
	 */
	protected string $slug = '{{slug}}';

	/**
	 * Post type arguments. Returned to register_post_type().
	 *
	 * @return array<string,mixed>
	 */
	protected function get_args(): array {
		return [
			'label'         => __( '{{plural}}', 'text-domain' ),
			'labels'        => [
				'name'          => __( '{{plural}}', 'text-domain' ),
				'singular_name' => __( '{{singular}}', 'text-domain' ),
				'add_new_item'  => __( 'Add New {{singular}}', 'text-domain' ),
				'edit_item'     => __( 'Edit {{singular}}', 'text-domain' ),
				'view_item'     => __( 'View {{singular}}', 'text-domain' ),
				'search_items'  => __( 'Search {{plural}}', 'text-domain' ),
			],
			'public'        => true,
			'show_in_rest'  => true,
			'has_archive'   => true,
			'menu_position' => 20,
			'supports'      => [ 'title', 'editor', 'thumbnail', 'excerpt' ],
		];
	}
}
