/**
 * ESLint config: extends @rtcamp/wp-tooling shared config.
 *
 * Scaffolded by @rtcamp/wp-tooling. The shared rules live at
 * node_modules/@rtcamp/wp-tooling/src/lint/eslint.js. To override
 * a rule for this project, add it after the spread below.
 */
'use strict';

const rtcampConfig = require('@rtcamp/wp-tooling/eslint-config');

module.exports = [
	...rtcampConfig,
	// Project-specific overrides go here.
];
