/**
 * ESLint flat config: extends rtCamp's shared @rtcamp/eslint-config.
 *
 * Scaffolded by @rtcamp/wp-tooling. The shared rules live in
 * node_modules/@rtcamp/eslint-config. To override a rule for this
 * project, add it after the spread below.
 */
'use strict';

const rtcampConfig = require('@rtcamp/eslint-config');

module.exports = [
	...rtcampConfig,
	// Project-specific overrides go here.
];
