<?php
/**
 * Tests for {{namespace}}\Cli\{{class}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 */

declare(strict_types=1);

namespace {{namespace}}\Tests\Cli;

use PHPUnit\Framework\TestCase;
use {{namespace}}\Cli\{{class}};

/**
 * @covers \{{namespace}}\Cli\{{class}}
 */
final class {{class}}Test extends TestCase {

	public function test_command_instantiates(): void {
		$this->assertInstanceOf( {{class}}::class, new {{class}}() );
	}

	public function test_command_runs_without_args(): void {
		$this->markTestIncomplete( 'TODO: implement {{name}} test.' );
	}
}
