<?php
/**
 * Tests for {{namespace}}\{{class}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 */

declare(strict_types=1);

namespace {{tests_namespace}};

use PHPUnit\Framework\TestCase;
use {{namespace}}\{{class}};

/**
 * @covers \{{namespace}}\{{class}}
 */
final class {{class}}Test extends TestCase {

	public function test_command_instantiates(): void {
{{#singleton}}		$this->assertInstanceOf( {{class}}::class, {{class}}::get_instance() );
{{/singleton}}{{^singleton}}		$this->assertInstanceOf( {{class}}::class, new {{class}}() );
{{/singleton}}	}

	public function test_command_runs_without_args(): void {
		$this->markTestIncomplete( 'TODO: implement {{name}} test.' );
	}
}
