{
	"defaults": {
		"standard": "WCAG2AA",
		"runners": ["axe", "htmlcs"],
		"chromeLaunchConfig": {
			"args": ["--no-sandbox"]
		},
		"timeout": 30000
	},
	"urls": [
		"{{base_url}}/",
		"{{base_url}}{{sample_page}}",
		"{{base_url}}{{search_page}}"{{#extra_page}},
		"{{base_url}}{{extra_page}}"{{/extra_page}}
	]
}
