<?php
/**
 * REST controller: {{name}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 */

declare(strict_types=1);

namespace {{namespace}};

use rtCamp\WPFramework\Contracts\Abstracts\AbstractRESTController;
use WP_REST_Request;
use WP_REST_Response;

class {{class}}Controller extends AbstractRESTController {

	protected $namespace      = '{{rest_namespace}}';
	protected string $version = '{{rest_version}}';

	/**
	 * The route segment after the namespace and version, e.g. 'images'.
	 */
	protected $rest_base = '{{name}}';

	/**
	 * Register REST routes. Called by the framework on rest_api_init.
	 */
	public function register_routes(): void {
		register_rest_route(
			"{$this->namespace}/v{$this->version}",
			'/' . $this->rest_base,
			[
				[
					'methods'             => 'GET',
					'callback'            => [ $this, 'get_items' ],
					'permission_callback' => [ $this, 'get_items_permissions_check' ],
				],
			]
		);
	}

	public function get_items( WP_REST_Request $request ): WP_REST_Response {
		// Replace with your collection response.
		return new WP_REST_Response( [], 200 );
	}

	public function get_items_permissions_check( WP_REST_Request $request ): bool {
		return current_user_can( 'read' );
	}
}
