<?php
/**
 * Taxonomy: {{slug}} ({{singular}} / {{plural}}), attached to {{object_type}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 */

declare(strict_types=1);

namespace {{namespace}};

use rtCamp\WPFramework\Contracts\Abstracts\AbstractTaxonomy;

class {{class}} extends AbstractTaxonomy {

	public static function get_slug(): string {
		return '{{slug}}';
	}

	/**
	 * @return array<int,string>
	 */
	public static function get_object_types(): array {
		return array_map( 'trim', explode( ',', '{{object_type}}' ) );
	}

	public function get_singular_label(): string {
		return __( '{{singular}}', '{{text_domain}}' );
	}

	public function get_plural_label(): string {
		return __( '{{plural}}', '{{text_domain}}' );
	}

	/**
	 * Hierarchical (true = like categories) or flat (false = like tags).
	 * Override to switch behaviour.
	 */
	public function is_hierarchical(): bool {
		return true;
	}
}
