<?php
/**
 * Tests for {{namespace}}\{{class}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 */

declare(strict_types=1);

namespace {{tests_namespace}};

use PHPUnit\Framework\TestCase;
use {{namespace}}\{{class}};

/**
 * @covers \{{namespace}}\{{class}}
 */
final class {{class}}Test extends TestCase {

	public function test_taxonomy_instantiates(): void {
		$this->assertInstanceOf( {{class}}::class, new {{class}}() );
	}

	public function test_taxonomy_registers(): void {
		$this->markTestIncomplete( 'TODO: assert taxonomy_exists("{{slug}}") after register() is called.' );
	}
}
