<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
>
	<testsuites>
		<testsuite name="Unit">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory>tests/Integration</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory>{{source_dir}}</directory>
		</include>
		<exclude>
			<directory>vendor</directory>
			<directory>node_modules</directory>
		</exclude>
	</source>
</phpunit>
