<?php
/**
 * Tests for {{namespace}}\{{class}}.
 *
 * Scaffolded by @rtcamp/wp-tooling.
 *
 * @link https://github.com/rtCamp/wp-framework
 */

declare(strict_types=1);

namespace {{tests_namespace}};

use {{namespace}}\{{class}};
use WP_UnitTestCase;

/**
 * @covers \{{namespace}}\{{class}}
 */
final class {{class}}Test extends WP_UnitTestCase {

	public function test_slug_matches_manifest(): void {
		$this->assertSame( '{{slug}}', {{class}}::get_slug() );
	}

	public function test_get_settings_returns_array(): void {
		$this->assertIsArray( ( new {{class}}() )->get_settings() );
	}

	public function test_sample_option_is_registered(): void {
		( new {{class}}() )->register_hooks();
		do_action( 'admin_init' );
		$this->assertArrayHasKey( '{{option_name}}', get_registered_settings() );
	}
}
